/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    height: 100vh;
    /* Utiliza toda a altura da viewport */
    background-image: linear-gradient(to right, #00008d, #367cdd);
}

.container {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 15px 10px 10px rgb(0, 0, 0);
    text-align: center;
}

.container img {
    width: 100px;
    margin-bottom: 20px;
}

.container h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.container p {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    display: block;
    text-align: left;
    margin-bottom: 8px;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    width: 100%;
    padding: 12px;
    background-color: #040672;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* form button:hover {
    background-color: #45a049;
} */

.error {
    color: red;
    font-size: 14px;
    margin-top: 8px;
}

@media (max-width: 480px) {
    .container {
        max-width: 90%;
    }
}